.search-form {
  position: relative;
  background-color: var(--black-70);
  padding: 3px;
  border-radius: 9px;
}

.search-icon {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  left: .5rem;
  padding: 0rem .25rem;

  background-color: transparent;
  border: none;
  cursor: pointer
}

.search-bar {
  width: 100%;
  background-color: var(--black-60);
  padding: .5rem 1rem .5rem 2.5rem;
  border-radius: 8px;
  border: 1.5px solid var(--black-50);
}

.search-bar:focus {
  border: 1.5px solid var(--accent-40);
  outline: none;
}

::placeholder {
  color: var(--white-50);
}