.watchlist-element-outer {
  padding: 0 .75rem;
}

.watchlist-element-outer:hover {
  background-color: var(--accent-10);
}

.watchlist-element-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem .5rem;
  border-top: 1.25px solid var(--black-50)
}

.watchlist-element-view {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}



.watchlist-element-inner button {
  padding: .5rem 1rem;
  border: 1.5px solid var(--accent-40);
  background-color: transparent;
  color: var(--white-75);
  font-size: 1rem;
  font-weight: 700;
  transition: .125s;
  border-radius: 8px;
  cursor: pointer;
}

.watchlist-element-inner button:hover {
  background-color: var(--accent-50);
  border: 1.5px solid var(--accent-50);
  color: var(--black-100);
}