.watchlist-outer {
  max-width: 28rem;
  padding: 3px;
  background-color: var(--black-90);
  border-radius: 13px;
  max-height: calc(100vh - 5rem);
  display: flex;
}

.watchlist-inner {
  background-color: var(--black-80);
  border: 1.5px solid var(--black-50);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}

.watchlist-results {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}