.watchlist-outer {
  max-width: 28rem;
  padding: 3px;
  background-color: var(--black-90);
  border-radius: 13px;
}

.watchlist-inner {
  background-color: var(--black-80);
  border: 1.5px solid var(--black-50);
  border-radius: 12px;
}