.card-outer {
  width: 100%;
  padding: 3px;
  background-color: var(--black-90);
  border-radius: 13px;
  display: flex;
  transition: 1s;
}

.card-outer:hover {
  box-shadow: var(--green-glow);
}

.card-inner {
  background-color: var(--black-80);
  border: 1.5px solid var(--black-50);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--white-100);
  transition: .25s;
}
.card-inner:hover {
  background-color: var(--accent-10);
  border-color: var(--accent-30);
}

.card-header-container {
  width: fit-content;
  padding: .25rem .25rem .25rem .875rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--black-50);
  border-radius: 4rem;
}

.card-text {
  font-size: 3rem;
  font-weight: 700;
}

.card-pill-container {
  background-color: var(--black-90);
  padding: 4px 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-pill-text {
  font-size: 1rem;
}

.card-pill-data {
  font-size: 0.75rem;
}

.card-pill-container .arrow-up,
.card-pill-container .arrow-down {
  color: var(--accent-50);
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.85rem;
}

.card-pill-container .arrow-down {
  color: var(--accent-2nd);
}