aside .side-nav {
  padding: 2rem 1rem;
  border-right: 0.06rem solid #2A2E2D;
  background-color: var(--black-90);
}

aside .side-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

aside .side-nav button {
  color: var(--white-50);
  display: flex;
  align-items: center;
  background-color: var(--black-90);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.side-nav ul {
    list-style: none;
}

.side-nav ul button:hover,
.side-nav ul button.active {
  background-color: var(--black-80);
}

.side-nav h5 {
  color: var(--white-50);
  margin-bottom: 0.7rem;
}

.side-nav .general {
  flex-grow: 1;
}

.side-nav .logo,
.side-nav .general,
.side-nav .preferences {
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-nav .preferences {
  margin-bottom: 3rem;
}

.side-nav .logo button {
  padding-left: 0.5rem;
  height: 3rem;
  width: 16rem;
  gap: 1.2rem;
  font-size: 1.5rem;
  color: var(--white-75);
  
}

.side-nav .logo .icon {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  border: 0.13rem solid var(--white-75);
}

.side-nav .general button,
.side-nav .preferences button {
  height: 3rem;
  width: 16rem;
  gap: 1.2rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.side-nav .general .icon,
.side-nav .preferences .icon {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 0.13rem solid var(--white-50);
}