.dashboard-view {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "card card"
    "portfolio watchlist";
  gap: 1.25rem;

  padding: 1.5rem;
  height: calc(100vh - 4rem);
  overflow: hidden;
}

.card-container {
  grid-area: card;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
}