.portfolio-tend-line-outer {
    /* max-width: 28rem; */
    padding: 3px;
    background-color: var(--black-90);
    border-radius: 13px;
    max-height: calc(100vh - 5rem);
    display: flex;
    grid-area: portfolio;
}

.portfolio-tend-line-inner {
    background-color: var(--black-80);
    border: 1.5px solid var(--black-50);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;

}
.card-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--white-25);
}

.range-picker-container {
    display: flex;
    gap: 5px;
    height: 100%;
}

.range-picker {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color: var(--white-100);
    font-size: 1rem;
}

.range-picker:active {
    border-bottom: 1px solid var(--accent-50);
}