@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
!IMPORTANT

All sizing should be done through `rem`s.
By default, 1rem = 16px.

If the wireframe requests padding: 8px;
Then you must do padding: .5rem;

*/

:root {
  --white-100: #ffffff; /* Primary White */
  --white-75: #ecf5f1cc; /* White 75% (text not-selected)*/
  --white-50: #c4e0d788; /* White 50% (text placeholder/locked)*/
  --white-25: #bae2d355; /* White 25% (text hidden)*/

  --black-100: #131716; /* Primary Black */
  --black-90: #191D1C; /* Black Level 1 (card outer background)*/
  --black-80: #1F2422; /* Black Level 2 (card inner background)*/
  --black-70: #232b27; /* Black Level 3 (card sub-element bg)*/
  --black-60: #26302D; /* Black Level 4 (card sub-element-inner bg)*/
  --black-50: #2f3b38; /* Accent Black (card border)*/

  --accent-50: #3DFFC5; /* Primary Accent */
  --accent-40: #339477; /* Accent 75% (Accent light fade)*/
  --accent-30: #3C5E53; /* Accent 50% (Accent Avg fade)*/
  --accent-20: #2e443d; /* Accent 25% (Accent high fade)*/
  --accent-10: #18332b70; /* Accent 10% (Accent seasoning)*/

  --accent-2nd: #FF7E7E; /* Secondary Accent */

  --green-glow: 0px 0px 32px -12px rgb(36, 148, 114, .125); /* Default Flow - For box-shadow: ---; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Firefox scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: var(--black-50) var(--black-90); 
}

html {
  background-color: var(--black-100);
}

h1, h2, h3 {
  color: var(--white-100);

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h4, h5, h6, p, li, ul, a, input, select, textarea, label {
  color: var(--white-100);

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

input {
  background-color: var(--black-60);
  border: 1.5px solid var(--black-50);
}

/* Global styling for input placeholders */
::placeholder {
  color: var(--white-50);
}


/* Global Scrollbar Styling */
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;  
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--black-90);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-50);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-60);
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

#root > aside {
  height: 100vh;
}

#root > main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

#root > main > nav {
  /* border: 5px solid blue; */
}

#root > main > section {
  /* border: 5px solid green; */
  padding: 2rem
}

