:root {
  --white-100: #ffffff; /* Primary White */
  --white-75: #ffffffcc; /* White 75% */
  --white-50: #ffffff88; /* White 50% */
  --white-25: #ffffff55; /* White 25% */

  --black-100: #131716; /* Primary Black */
  --black-90: #191D1C; /* Black Level 1 */
  --black-80: #1F2422; /* Black Level 2 */
  --black-80: #232b28; /* Black Level 3 */
  --black-50: #26302D; /* Accent Black */

  --accent-50: #3DFFC5; /* Primary Accent */
  --accent-40: #339477; /* Accent 75% */
  --accent-30: #3C5E53; /* Accent 50% */
  --accent-20: #2e443d; /* Accent 25% */
  --acent-10: #18332B; /* Accent 10% */

  
  --green-glow: 0px 0px 22px -8px rgb(36, 148, 114, .125);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

}

body {

}

h1, h2, h3, h4, h5, h6, p, li, ul, a, input, select, textarea {
  font-family: sans-serif;
  color: var(--white-100);
}